*{
   box-sizing:border:box;
}
body {
    margin: 0;
    background: gray;
}
nav {
   background: #59484;
   width: 100%;
   overflow: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  float: left;
}
nav a {
    width: 204px;
    display: block;
    text-decoration: none;
    text-align: center;
    background: #594848;
    font-size: 17px;
    color: white;
    padding: 20px 10px;
    font-family: Times new roman;
}
nav a:hover {
    background: skyblue;
    color: black;
}
.container {
      max-width: 1200px;
      margin: auto;
      background: #808080;
      overflow: auto;
}
.gallery {
      margin: 10px;
      border: 1px solid #ccc;
      float: left;
      width: 400px;
}
.gallery img {
      width: 100%;
      height: 200px;
}
.desc {
      padding: 20px;
      text-align: center;
}
